extends layout
block append content 
    .textBox.blurBackground
        h3 Feel free to reach out to me! 
        ul 
            li LinkedIn: https://www.linkedin.com/in/derek-frahm-988538145/
            li Email: DerekFrahm@gmail.com