extends layout 
block append style 
    link(rel='stylesheet' href='/css/home.css')
block append content 
    img#me(src="/images/brick.png", alt="my photo")
    .blurBackground.textBox
        p 
            | My name is Derek Frahm, and welcome to my website! I am a double-major Honors student in computer science and applied math. I will be graduating in May 2021. 
        p 
            | Last year, I worked at BMW on an Agile develoment team where I worked as a Full-Stack Developer for 8 months. At BMW, I worked on various high-impact applications
            | supporting BMW internally. On the job, I made Node.js Express apps using Node.js, Pug, CSS, jQuery, SQL (with stored procedures), and JSON. And for these apps, 
            | I made full-coverage unit and integration tests using Mocha and Chai, and I used Cypress and Postman for additional testing. To keep track of all this, we used Git
            | and Bitbucket. Our Agile team used the Scrum methodology with two-week sprints to get our apps out fast.
        p
            | I am looking to leverage my skills in a job where I can grow and learn while working with an energetic team. I am reliable, detailed, and easy-going. I love coding,
            | but my time at BMW gave me a passion for Full-Stack developing. After working on the Full-Stack, I cannot imagine going back to exclusively working on the Frontend
            | or only the Backend. I enjoy working on classic programming puzzles that the Backend presents, but I also really enjoy the Frontend because it allows my creativity to 
            | shine through. 