doctype html 
html 
    head 
        title Derek's Website 
        block style 
            link(rel='stylesheet' href='/css/default.css')
        block script
            script(src ="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
            script(src="/js/default.js")
    body
        header.blurBackground
            h1 DWF
            nav
                a(href="/") Home
                a(href="/resume") Resume
                a(href="/contact") Contact
        #content
            block content