doctype html 
html 
    head 
        title Derek's Website 
    body 
        header
            h1 Derek's Dashbaord 
        #content 
            block content 
        footer 
            p#footer1 Version #{process.env.npm_package_version}